@charset 'UTF-8';

/* Versão Mobile First */

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000002;
    padding: 20PX;
}


